<% content_for(:title, "Caleb Barnwell About") %>

<h1>About Caleb Barnwell</h1>

<hr>

<div class="text-center"><%= image_tag('cheerHornsUp.jpg', class: 'medium') %></div><br/>

<div class="text-center media-middle size">

  <h2><b>Brief Biography</b></h2>
  <hr class="hr-minor"/>
  <p>My name is Caleb Michael Barnwell and I was born in the city of Bryan, TX. I lived quite a nomadic life in my younger years, and resided in both Texas and Montana. However I also spent a couple years living in Idaho. I stayed in Midland, TX for the end of Junior High School and for my Freshman year of high school. The rest of my high school career took place in the city of Bozeman, MT except for my Junior year in which I studied abroad at Junten High School in Tokyo, Japan. During my senior year of high school, I attended Montana State University to take Advanced Japanese. After graduating High School in Bozeman, I then moved on to the University of Texas at San Antonio for Computer Science for my freshman year of college. Afterwards, I transferred to the University of Texas at Austin where I am currently continuing my path with Computer Science and Mathematics. During my time here, I've learned a great deal about male cheerleading as well, and am an athlete on the Coed cheer squad. Hook 'Em! </p>

  <hr>

  <div class="ul-center">
    <h2><b>Skills</b></h2>
    <hr/>
    <h3>Languages</h3>
    <hr class="hr-minor"/>
    <ul>
      <li><span>Python</span></li>
      <li>C</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>SCSS</li>
      <li>Java</li>
      <li>Javascript, Jquery</li>
      <li>Ruby</li>
      <li>日本語</li>
    </ul>
    <hr/>
    <h3>Operating Systems</h3>
    <hr class="hr-minor"/>
    <ul>
      <li>Linux
      <li>Windows</li>
      <li>MacOS</li>
    </ul>
    <hr/>
    <h3>Software & Frameworks</h3>
    <hr class="hr-minor"/>
    <ul>
      <li>Unreal Engine 4</li>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
      <li>PyQt</li>
      <li>Django</li>
      <li>Photoshop</li>
      <li>PyCharm</li>
      <li>Outlook</li>
      <li>Microsoft Office</li>
    </ul>
    <hr/>
    <h3 >Other</h3>
    <hr class="hr-minor"/>
    <ul>
      <li>Wireframing</li>
      <li>Colemak</li>
    </ul>
    <hr/>
  </div>

  <br><br>

<!-- Activities
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <h2><b>Activities</b></h2>
  <hr/>

  <h3>Texas Coed Cheer Squad (Orange Squad) Member</h3>
  <%= image_tag('cheerGroup.jpg') %>
  <p>Summer 2018 - Present</p>
  <hr class="hr-minor"/>
  <p>One of ~15 men on the Coed Cheer Team for the Univerity of Texas at Austin. We cheer at all Football games and Men's Basketball games, including performing a halftime show in the Spring.</p>
  <hr/>

  <div>
    <h3><a href="https://docs.google.com/presentation/d/1y8NYplQXurk4a6DgpkM22huiqv3I5APVdDd5Lsi3Dr8/edit?usp=sharing">Unreal Engine 4 vs Unity 5 Virtual Reality Workshop</h3></a>
  </div>
  <p>(February 24, 2017)</p>
  <hr class="hr-minor"/>
  <figure><a href="https://docs.google.com/presentation/d/1y8NYplQXurk4a6DgpkM22huiqv3I5APVdDd5Lsi3Dr8/edit?usp=sharing" target="_blank"><%= image_tag('unrealUnityWorkshop.jpg') %></a><figcaption class="comp"><i>Our Workshop Presentation</i></figcaption></figure>
  <br/>
  <p>Hosted a 1 hour workshop during the ACM Hack Night with co-host Brandon Bell regarding the pros and cons of Unreal Engine 4 vs Unity 5 for game development, with a specialization in Virtual Reality development. (Click on title or picture above to be linked to our presentation!)</p>
  <hr/>

  <h3>RowdyHacks Hackathon and Volunteering</h3>
  <p>(Fall 2016 - Spring 2017)</p>
  <hr class="hr-minor"/>
  <p>I was a Member of the planning committee for UTSA's RowdyHacks hackathon for months before it took place.
    <br><br>
    During the event, I volunteered to help out where I could with food and orchestrating aspects of the event.</p>
  <hr/>

  <h3>Collegiate Cyber Defense Competition</h3>
  <p>(Fall 2016 - Spring 2017)</p>
  <hr class="hr-minor"/>
  <p>Member of the red team for UTSA's <abbr title= "Collegiate Cyber Defense Competition">CCDC</abbr>.</abbr></p>
  <hr/>

  <h3>Association for Computing Machinery</h3>
  <p>(Fall 2016 - Spring 2017)</p>
  <hr class="hr-minor"/>
  <p>Junior Officer of the <abbr title= "Association for Computing Machinery">ACM</abbr>.</p>
  <hr/>

  <h3>Ronald Reagan Highschool Major Fair Volunteer</h3>
  <p>(November 12, 2016)</p>
  <hr class="hr-minor"/>
  <p>Represented UTSA's Computer Science Department. Spoke with students from Ronald Reagan High School about what to expect in the Computer Science field.</p>

</div>