<h1>About Caleb Barnwell</h1>

<hr>

<div class="text-center"><%= image_tag('portraitNew.png') %></div><br/>

<div class="text-center media-middle size">

  <h2><b>Brief Biography</b></h2>
  <hr class="hr-minor"/>
  <p>Caleb Michael Barnwell was born in the city of Bryan, TX. He has lived a nomadic life in his younger years, traveling between Texas and Montana primarily while also spending some time in Idaho. He spent two years in Midland, TX for the end of Junior High School and for his Freshman year of high school. The rest of his high school career took place in the city of Bozeman, MT except for his Junior year in which he studied abroad at Junten High School in Tokyo, Japan. During his senior year of high school, Caleb attended Montana State University to take Advanced Japanese. After graduating High School in Bozeman, Caleb then moved on to the University of Texas at San Antonio for Computer Science for his freshman year of college. Presently, Caleb attends the University of Texas at Austin, continuing his path with Computer Science.</p>

  <hr>

  <div class="ul-center">
    <h2><b>Skills</b></h2>
    <hr/>
    <h3>Languages</h3>
    <hr class="hr-minor"/>
    <ul>
      <li><span>Python</span></li>
      <li>C</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>SCSS</li>
      <li>Java</li>
      <li>Javascript, Jquery</li>
      <li>Ruby</li>
      <li>日本語</li>
    </ul>
    <hr/>
    <h3>Operating Systems</h3>
    <hr class="hr-minor"/>
    <ul>
      <li>Linux
        <ol>
          <li>Arch</li>
          <li>Ubuntu</li>
        </ol>
      </li>
      <li>Windows</li>
      <li>MacOS</li>
    </ul>
    <hr/>
    <h3>Software/Frameworks</h3>
    <hr class="hr-minor"/>
    <ul>
      <li>Unreal Engine 4</li>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
      <li>PyQt</li>
      <li>Django</li>
      <li>Photoshop</li>
      <li>PyCharm</li>
      <li>Outlook</li>
      <li>Microsoft Office</li>
    </ul>
    <hr/>
    <h3 >Other</h3>
    <hr class="hr-minor"/>
    <ul>
      <li>Wireframing</li>
      <li>Colemak</li>
    </ul>
    <hr/>
  </div>

  <br><br>

<!-- Activities
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <h2><b>Activities</b></h2>
  <hr/>
  <h3>Ronald Reagan Highschool Major Fair Volunteer</h3>
  <p>(November 12, 2016)</p>
  <hr class="hr-minor"/>
  <p>Represented UTSA's Computer Science Department. Spoke with students from Ronald Reagan Highschool about what to expect in the Computer Science field.</abbr></p>
  <hr/>

  <h3>Association for Computing Machinery</h3>
  <p>(Fall 2016 - Spring 2017)</p>
  <hr class="hr-minor"/>
  <p>Junior Officer of the <abbr title= "Association for Computing Machinery">ACM</abbr>.</p>
  <hr/>

  <h3>Collegiate Cyber Defense Competition</h3>
  <p>(Fall 2016 - Spring 2017)</p>
  <hr class="hr-minor"/>
  <p>Member of the red team for UTSA's <abbr title= "Collegiate Cyber Defense Competition">CCDC</abbr>.</abbr></p>
  <hr/>

  <h3>RowdyHacks Hackathon and Volunteering</h3>
  <p>(Fall 2016 - Spring 2017)</p>
  <hr class="hr-minor"/>
  <p>I was a Member of the planning committee for UTSA's RowdyHacks hackathon for months before it took place.
    <br><br>
    During the event, I volunteered to help out where I could with food and orchestrating aspects of the event.</p>
  <hr/>

  <div>
    <h3><a href="https://docs.google.com/presentation/d/1y8NYplQXurk4a6DgpkM22huiqv3I5APVdDd5Lsi3Dr8/edit?usp=sharing">Unreal Engine 4 vs Unity 5 Virtual Reality Workshop</h3></a>
  </div>
  <p>(February 24, 2017)</p>
  <hr class="hr-minor"/>
  <figure><a href="https://docs.google.com/presentation/d/1y8NYplQXurk4a6DgpkM22huiqv3I5APVdDd5Lsi3Dr8/edit?usp=sharing" target="_blank"><%= image_tag('unrealUnityWorkshop.jpg') %></a><figcaption class="comp"><i>Our Workshop Presentation</i></figcaption></figure>
  <br/>
  <p>Hosted a 1 hour workshop during the ACM Hack Night with co-host Brandon Bell regarding the pros and cons of Unreal Engine 4 vs Unity 5 for game development, with a specialization in Virtual Reality development. (Click on title or picture above to be linked to our presentation!)</p>
</div>