<title>Caleb Barnwell Awards</title>

<h1>Caleb's Awards</h1>

<hr/>

<!-- Awards
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="size text-center media-middle">
  <h2>AP Scholar with Distinction</h2>
  <hr class="hr-minor"/>
  <p>(Received Spring 2016)</p>
  <p>Granted to students who achieve grades of 3 or higher on at least five full-year AP Exams, and whose average AP Exam grade is at least 3.5.</p>
  <hr/>

  <h2>HackRice 2016 3rd Place and Facebook Communication Challenge Winner</h2>
  <hr class="hr-minor"/>
  <p>(Received Fall 2016)</p>
  <%= image_tag('hackRice.jpg') %>
  <p>Completed with colleague Nishant Grover from the ScavengerHuntVR project.</p>
  <hr/>

  <h2>CodeRED Curiosity Best Hardware Hack</h2>
  <hr class="hr-minor"/>
  <p >(Received Fall 2016)</p>
  <%= image_tag('bestHardware.jpg') %>
  <p >Completed with a team from the SurVIVEr project.</p>
  <hr/>

  <h2>JFIE Certificate of Completion</h2>
  <hr class="hr-minor"/>
  <p>(Received Spring 2015)</p>
  <%= image_tag('japanClass.jpg') %>
  <p>Received from my successful completion of 1 year exchange to Japan.</p>
  <hr/>

  <h2>Who's Who Award Recipient</h2>
  <hr class="hr-minor"/>
  <p>(Received Fall 2016 - Spring 2017)</p>
  <p>Awarded for being among the top 20 Freshman based on Academic Merit and Campus Involvement at the University of Texas at San Antonio.</p>
  <hr/>

  <h2>UTSA President's List</h2>
  <hr class="hr-minor"/>
  <p>(Received Fall 2016)</p>
  <p>Received for maintaining a 4.0 gpa.</p>
</div>