<% content_for(:title, "Caleb Barnwell Education") %>

<!-- Courses
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<h1>Caleb's Educational History</h1>

<hr/>

<div class="text-center">

  <%= image_tag('longhorn_logo.png', class: 'tiny') %>

  <div>
  <h2>Schools Attended:</h2>
  <ul>
    <li>Montana State University (Spring 2016)</li>
    <li>University of Texas at San Antonio (Fall 2016 - Spring 2017)</li>
    <li>University of Texas at Austin (Fall 2017 - Present)</li>
  </ul>
  </div>

  <br>

  <table class="center">
    <tr class="tHead">
      <th>Date/Institution</th>
      <th >Course</th>
      <th>Completion Status</th>
    </tr>
    <tr>
      <th rowspan="9">AP/CLEP<br/>(Spring 2014-Spring 2017)<br/>34 Credit Hours</th>
      <td>Calculus 1</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP European History</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Government</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Computer Science A</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Language</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Literature</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Writer's Composition</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>U.S. History 1</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>U.S. History 2</td>
      <td >&#x2713;</td>
    </tr>

    <tr>
      <th>Spring 2016<br/>(Montana State University)<br/>3 Credit Hours</th>
      <td>Advanced Japanese</td>
      <td >&#x2713;</td>
    </tr>

    <tr>
      <th>Spring 2016<br/>(Montana Tech of the Univ of MT)<br/>3 Credit Hours</th>
      <td>Intro to Programming</td>
      <td >&#x2713;</td>
    </tr>

    <tr>
      <th rowspan="6">Fall 2016<br/>(University of Texas<br/>at San Antonio)<br/>17 Credit Hours</th>
      <td>Academic Inquiry and Scholarship</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Calculus II</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Introduction to Computer Science II</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Introduction to Computer Science II<br/>Recitation</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Introduction to Dance</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Physics for Scientists and Engineers I</td>
      <td >&#x2713;</td>
    </tr>

    <tr>
      <th rowspan="6">Spring 2017<br/>(University of Texas<br/>at San Antonio)<br/>17 Credit Hours</th>
      <td>Calculus III</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Data Structures</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Data Structures Recitation</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Discrete Mathematical Structures</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Linear Algebra</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Physics for Scientists and Engineers II</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <th rowspan="4">Fall 2017<br/>(The University of Texas<br/>at Austin)<br/>14 Credit Hours</th>
      <td>Differential Equations with Linear Algebra</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Computer Organization and Architecture</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Probability</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Discrete Mathematics</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <th rowspan="4">Spring 2018<br/>(The University of Texas<br/>at Austin)<br/>9 Credit Hours</th>
      <td>Operating Systems</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Functions of Complex Variables</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Intro to C++</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Basketball Techniques</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <th rowspan="3">Summer 2018<br/>(The University of Texas<br/>at Austin)<br/>9 Credit Hours</th>
      <td>Introduction to Real Analysis</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Software Engineering</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>American and Texas Government</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <th rowspan="4">Fall 2018<br/>(The University of Texas<br/>at Austin)<br/>13 Credit Hours</th>
      <td>Game Technology</td>
      <td >IP</td>
    </tr>
    <tr>
      <td>Vector Calculus</td>
      <td >IP</td>
    </tr>
    <tr>
      <td>Intro to Number Theory</td>
      <td >IP</td>
    </tr>
    <tr>
      <td>Analysis of Algorithms</td>
      <td >IP</td>
    </tr>
    <tr>
      <th rowspan="4">Spring 2019<br/>(The University of Texas<br/>at Austin)<br/>12 Credit Hours</th>
      <td>3D Game Development Capstone</td>
      <td >TBD</td>
    </tr>
    <tr>
      <td>Numerical Analysis</td>
      <td >TBD</td>
    </tr>
    <tr>
      <td>Real Analysis 1</td>
      <td >TBD</td>
    </tr>
    <tr>
      <td>Computer Networks</td>
      <td >TBD</td>
    </tr>
  </table>
</div>