<title>Caleb Barnwell Education</title>

<!-- Courses
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<h1>Caleb's Educational History</h1>

<hr/>

<div class="text-center">

  <div>
  <h2>Schools Attended:</h2>
  <ul>
    <li>Montana State University (Spring 2016)</li>
    <li>University of Texas at San Antonio (Fall 2016 - Spring 2017)</li>
    <li>University of Texas at Austin (Fall 2017 - Present)</li>
  </ul>
  </div>

  <br>

  <table align="center">
    <tr class="tHead">
      <th>Date/Institution</th>
      <th >Course</th>
      <th>Completion Status</th>
    </tr>
    <tr>
      <th rowspan="9">AP/CLEP<br/>(Spring 2014-Spring 2017)<br/>34 Credit Hours</th>
      <td>Calculus 1</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP European History</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Government</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Computer Science A</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Language</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>AP Literature</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>Writer's Composition</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>U.S. History 1</td>
      <td >&#x2713;</td>
    </tr>
    <tr>
      <td>U.S. History 2</td>
      <td >&#x2713;</td>
    </tr>

    <tr>
      <th>Spring 2016<br/>(Montana State University)<br/>3 Credit Hours</th>
      <td>Advanced Japanese</td>
      <td >&#x2713;</td>
    </tr>

    <tr>
      <th>Spring 2016<br/>(Montana Tech of the Univ of MT)<br/>3 Credit Hours</th>
      <td>Intro to Programming</td>
      <td >&#x2713;</td>
    </tr>

    <tr>
      <th rowspan="6">Fall 2016<br/>(University of Texas<br/>at San Antonio)<br/>17 Credit Hours</th>
      <td>Academic Inquiry and Scholarship</td>
      <td >A</td>
    </tr>
    <tr>
      <td>Calculus II</td>
      <td >A</td>
    </tr>
    <tr>
      <td>Introduction to Computer Science II</td>
      <td >A+</td>
    </tr>
    <tr>
      <td>Introduction to Computer Science II<br/>Recitation</td>
      <td >A+</td>
    </tr>
    <tr>
      <td>Introduction to Dance</td>
      <td >A+</td>
    </tr>
    <tr>
      <td>Physics for Scientists and Engineers I</td>
      <td >A</td>
    </tr>

    <tr>
      <th rowspan="6">Spring 2017<br/>(University of Texas<br/>at San Antonio)<br/>17 Credit Hours</th>
      <td>Calculus III</td>
      <td >A</td>
    </tr>
    <tr>
      <td>Data Structures</td>
      <td >A+</td>
    </tr>
    <tr>
      <td>Data Structures Recitation</td>
      <td >A+</td>
    </tr>
    <tr>
      <td>Discrete Mathematical Structures</td>
      <td >A+</td>
    </tr>
    <tr>
      <td>Linear Algebra</td>
      <td >A</td>
    </tr>
    <tr>
      <td>Physics for Scientists and Engineers II</td>
      <td >A</td>
    </tr>
    <tr>
      <th>Fall 2017<br/>(University of Texas<br/>at Austin)</th>
      <td>TBD</td>
      <td ></td>
    </tr>
  </table>
</div>