<h1>Caleb's Employment Experience</h1>

<hr/>

<!-- Employment Experience
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="text-center">
  <img src="../../../Images/outback.png" class="tiny">
  <br>
  <p>Bozeman, MT (Aug 2015 - March 2016)</p>
  <hr class="hr-minor"/>
  <p>Take-Away/Expediter/Host. Server experience from Take-Away, backhouse experience from Expediter, and front house experience from Hosting position.</p>

  <hr/>

  <img src="../../../Images/ercot-logo.png" class="tiny">
  <p>Taylor, TX (May 2017 - Aug 2017)</p>
  <hr class="hr-minor"/>
  <p>Web Development Research Internship</p>
  <hr/>
</div>