<div class="text-center">
  <div class="logo">
    <a href="mailto:calebbarnwell@gmail.com">Caleb Barnwell</a>
  </div>

  <hr/>
  <div class="gray">
    <div class="logo">
      <div class="logoImg">
        <img src="../../../Images/newLogo.png"/>
      </div>
    </div>
  </div>
    <p class="headCapt">
      Bachelor of Science in Computer Science, Game Development Certificate<br/>
      (Expected Graduation: Spring 2020)<br/>
      University of Texas at Austin.
    </p>
    <br/>
</div>
