<h1>Caleb Barnwell</h1>

<div class="text-center">
  <div class="logo">
    <div class="logoImg">
      <img src="../../../Images/newLogo.png"/>
    </div>
  </div>
  <p>
    Bachelor of Science in Computer Science, Game Development Certificate<br/>
    (Expected Graduation: Spring 2020)<br/>
    University of Texas at Austin.
  </p>
  <br/>
</div>
