<title>Caleb Barnwell</title>
<div class="text-center">
  <div class="logo-word">
    <a href="mailto:calebbarnwell@gmail.com">Caleb Barnwell</a>
  </div>

  <hr/>
  <div class="logoBackground">
    <div class="logoImg">
      <%= image_tag('newLogo.png') %>
    </div>
  </div>
    <p class="headCapt">
      Bachelor of Science in Computer Science, Game Development Certificate<br/>
      (Expected Graduation: Spring 2020)<br/>
      University of Texas at Austin.
    </p>
    <br/>
</div>
