<h1>Caleb's Projects</h1>

<hr/>

<!-- Projects
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="projects size media-middle text-center">
  <h2>Breakout</h2>
  <p>(Spring 2016)</p>
  <hr class="hr-minor"/>
  <%= render 'layouts/breakout' %>
  <p>Brick-breaker game in JavaScript. (Available to play right now!)</p>

  <hr/>

  <h2 ><a href="../../../content/ticTacToe.html" target="_blank">Tic Tac Toe</a></h2>
  <p>(Spring 2016)</p>
  <hr class="hr-minor"/>
  <figure><a href="../../../content/ticTacToe.html" target="_blank"><img src="../../../Images/ticTac.png"></a><figcaption><i>In-game View of Play</i></figcaption></figure>
  <p>Tic Tac Toe game in JavaScript. (Available to play right now if you click on the "Tic Tac Toe" Title above!)</p>

  <hr/>

  <h2 ><a href="https://devpost.com/software/morse-codding" target="_blank">Morse Coding</a></h2>
  <p>(Fall 2016)</p>
  <hr class="hr-minor"/>
  <p>Collaborative project made at TAMU Hack 2016. Involves algorithmic translation of Morse Code to alphabet through mouse clicks.
    Specifically designed for communication for those with mobile disabilities.</p>

  <hr/>

  <h2><a href="https://devpost.com/software/scavengerhuntvr" target="_blank">ScavengerHuntVR</a></h2>
  <p>(Fall 2016)</p>
  <figure><a href="https://devpost.com/software/scavengerhuntvr" target="_blank"><img src="../../../Images/Scavenger.png"></a><figcaption><i>A Player Searches for Keys</i></figcaption></figure>
  <p>Collaborative project that received 3rd place at HackRice 2016 and won the Facebook Communication Challenge.</p>

  <hr/>


  <h2><a href="https://devpost.com/software/surviver" target="_blank">SurVIVEr</a></h2>
  <p>(Fall 2016)</p>
  <hr class="hr-minor"/>
  <figure><a href="https://devpost.com/software/surviver" target="_blank"><img src="../../../Images/surviver.jpg"></a><figcaption><i>A Portion of the Explorable Map</i></figcaption></figure>
  <p>Collaborative project that received Best Hardware Hack at CodeRED 2016.</p><br/>

  <hr/>

    <h2>Impulse Meter</h2>
    <p>(Fall 2016)</p>
    <hr class="hr-minor"/>
    <figure><img src="../../../Images/impulseMeter.jpg"><figcaption><i>Our Impulse Meter</i></figcaption></figure>
    <p>Collaborative project that involved planning using Mechanical Physics and Mathematics to find the simplest way to measure impulse (Change in momentum). Since we measured our
      spring constant before construction, this is performed by using a slow motion camera and observing the distance of the compression of the spring when hit by an object. Next the time until max compression must also be observed. This allows for measuring of impulse with minimal knowledge of variables, including the neglection of mass. We checked our results using conservation of energy and kinematics to compare the theoretical change in momentum.</p>
    <p>Equations used: F = kx, J = F&Delta;t </p><br/>

  <hr/>

  <h2>Personal Computer Building</h2>
  <p>(Fall 2015 to Present)</p>
  <hr class="hr-minor"/>
  <div class="col-sm-6"><figure><img class="medium" src="../../../Images/pcPic.jpg"><figcaption ><i>My Computer</i></figcaption></figure></div>
  <div class="col-sm-6"><figure><img class="medium" src="../../../Images/pcPic2.jpg"><figcaption><i>Computer Monitor Setup</i></figcaption></figure></div>
  <div class="clearfix"></div>
  <br/>


  <p>I spent time collecting parts and built my own computer from scratch. I still go through and update various parts so it is a project of mine that continues to this day. <br/><br/> Specs: Intel i7 6700k, EVGA Geforce 980 ti, 16gb DDR4 RAM, ASUS Z170-A, 800W PSU, 4tb HDD, 2tb HDD, 2x 250gb SSD</p>
  <br/>

  <hr/>


  <h2>Blog Site</h2>
  <p>(Spring 2017)</p>
  <hr class="hr-minor"/>
  <div class="col-sm-6"><figure><img class="medium" src="../../../Images/blogPic1.png"><figcaption><i>List of Blog Articles</i></figcaption></figure></div>
  <div class="col-sm-6"><figure><img class="medium" src="../../../Images/blogPic2.png"><figcaption><i>Blog Screen with Comments</i></figcaption></figure></div>
  <div class="clearfix"></div>
  <br/>
  <p>Created a Blog Website using Ruby, Ruby on Rails, and HTML. Using Rail's database integration, you are able to post new blog articles and make comments to articles along with making deletions. The site will dynamically update. </p>
  <br/>

  <hr/>

  <h2>Server Simulation</h2>
  <p>(Spring 2017)</p>
  <hr class="hr-minor"/>
  <div class="col-sm-6"><figure><img class="medium" src="../../../Images/simPic1.png"></figure></div>

  <div class="col-sm-6"><figure><img class="medium" src="../../../Images/simPic2.png"></figure></div>
  <div class="clearfix"></div>
  <br>
  <figcaption><i>Blog Screen with Comments</i></figcaption>
  <br>
  <p>As a simulation, a business wished to update their current server setup. I was able to simulate each new possible way in which they could setup their servers, and wrote a detailed document expressing which setup they should move forward with based on a cost/efficiency ratio. This method would potentially save businesses money as they can predict how they should move forward.</p>
</div>