<% content_for(:title, "Caleb Barnwell Blog") %>

<h1>Categories</h1>

<div class="list-wrapper">
  <ul id="tags">
    <% @tags.each do |tag| %>
        <li><%= link_to tag.name.capitalize, tag_path(tag), class: 'tag_title'%></li>
    <% end %>
  </ul>
</div>

<h4>
  <%= link_to "All Articles", articles_path %>
</h4>