<title>Caleb Barnwell Blog Tags</title>
<meta name="description" content="Listing of article tags for postings on Caleb Barnwell's official blog.">

<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag), class: 'tag_title'%></li>
  <% end %>
</ul>