

//Basic Styling Below

h1
  color: #731745
  text-align: center
  border: dashed
  border-color: #731745
  background-color: #b7b7b7

p
  text-align: center

.article_title
  color: #B00100
  text-decoration: none

.new_article
  color: blue
  text-decoration: none

.flash
  color: orangered